{% extends 'main/base.html' %}

{% block title %}
ПГЕЕ - новини
{% endblock %}

{% block content %}
{% load static %}

		<!-- Contact Us -->
		<section id="contact" class="contact section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="section-title bg">
							<h2>Контакти</h2>
							<div class="icon"><i class="fa fa-paper-plane"></i></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-8 col-md-8 col-12">
						<div class="form-head">
							<!-- Contact Form -->
							<form class="form" action="mail/mail.php">
								<div class="row">
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<i class="fa fa-user"></i>
											<input name="first-name" type="text" placeholder="Име">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<i class="fa fa-envelope"></i>
											<input name="last-name" type="text" placeholder="Фамилия">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
										<div class="form-group">
											<i class="fa fa-envelope"></i>
											<input name="email" type="email" placeholder="Email адрес">
										</div>
									</div>
									<div class="col-12">
										<div class="form-group message">
											<i class="fa fa-pencil"></i>
											<textarea name="message" placeholder="Вашето съобщение ..."></textarea>
										</div>
									</div>
									<div class="col-12">
										<div class="form-group">
											<div class="button">
												<button type="submit" class="btn primary">Изпрати съобщение</button>
											</div>
										</div>
									</div>
								</div>
							</form>
							<!--/ End Contact Form -->
						</div>
					</div>
					<div class="col-lg-4 col-md-4 col-12">
						<div class="contact-right">
							<!-- Contact-Info -->
							<div class="contact-info">
								<div class="icon"><i class="fa fa-map"></i></div>
								<h3>Адрес:</h3>
								<p>гр. Банско 2770,  ул."България" №23</p>
							</div>
							<!-- Contact-Info -->
							<div class="contact-info">
								<div class="icon"><i class="fa fa-envelope"></i></div>
								<h3>Контакти:</h3>
								<p><a href="mailto:info@example.com">info-102015@edu.mon.bg</a></p>
								<p>тел.0749/8 84 02</p>
							</div>
							<!-- Contact-Info -->
						</div>
					</div>
				</div>
			</div>		
		</section>
		<!--/ End Contact Us -->
{% endblock %}