{% extends 'main/dzi_base.html' %}
{% load static %}

{% block left_panel %}
{% include 'main/dzi_left_panel_profile.html' %}
{% endblock %}

{% block lef_panel_icon%}
{% endblock %}

{% block main_content %}
            <!-- Main content -->
            <div class="rbt-main-content mr--0 mb--0">
                <div class="rbt-daynamic-page-content center-width">
                    <!-- Start Breadcarumb area  -->
                    <div class="chatenai-separator">
                        <img class="w-100 separator-dark"
                             src="{% static 'assets/images/separator/separator-top.svg' %}" alt="separator">
                        <img class="w-100 separator-light"
                             src="{% static 'assets/images/light/separator/separator-top.svg' %}" alt="separator">
                    </div>
                    <div class="breadcrumb-area breadcarumb-style1 pt--30 pb--30">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="breadcrumb-inner text-center">
                                        <h1 class="title theme-gradient h2">Настройки</h1>
                                        <ul class="page-list">
                                            <li class="rainbow-breadcrumb-item"><a href="{% url 'dzi_home' %}">Начало</a></li>
                                            <li class="rainbow-breadcrumb-item"><a href="{% url 'dzi_settings' %}">Настройки</a></li>
                                            <li class="rainbow-breadcrumb-item active">Специалност</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Breadcarumb area  -->
                    <div class="chatenai-separator">
                        <img class="w-100 separator-dark" src="{% static 'assets/images/separator/separator-bottom.svg' %}" alt="separator">
                        <img class="w-100 separator-light" src="{% static 'assets/images/light/separator/separator-bottom.svg' %}" alt="separator">
                    </div>

                    <!-- Dashboard Center Content -->
                    <div class="rbt-dashboard-content">
                        <div class="content-page pb--50">
                            <div class="chat-box-list">
                                <!-- Специалност -->
                                <div class="single-settings-box profile-details-box top-flashlight light-xl leftside overflow-hidden">
                                    <div class="profile-details-tab">
                                        <div class="advance-tab-button mb--30">
                                            <ul class="nav nav-tabs tab-button-style-2 justify-content-start"
                                                id="settinsTab-4" role="tablist">
                                                <li role="presentation">
                                                    <a href="#" class="tab-button" id="school-tab" data-bs-toggle="tab"
                                                       data-bs-target="#school" role="tab" aria-controls="profile"
                                                       aria-selected="true">
                                                        <span class="title">Специалност</span>
                                                    </a>
                                                </li>
                                                <li role="presentation">
                                                    <a href="#" class="tab-button" id="password-tab" data-bs-toggle="tab"
                                                       data-bs-target="#password" role="tab" aria-controls="password"
                                                       aria-selected="false">
                                                        <span class="title">НИП</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>

                                        <div class="tab-content">
                                            <!-- Данни за училището -->
                                            <div class="tab-pane fade active show" id="school" role="tabpanel" aria-labelledby="school-tab">
                                                <form class="rbt-profile-row rbt-default-form row row--15">
                                                    <!-- направление -->
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                                        <div class="form-group">
                                                            <label for="pn_num">Професионално направление - номер</label>
                                                            <input id="pn_num" type="text" v-model="specialty.professional_field_num">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                                                        <div class="form-group">
                                                            <label for="pn_name">Професионално направление - име</label>
                                                            <input id="pn_name" type="text" v-model="specialty.professional_field_name">
                                                        </div>
                                                    </div>
                                                    <!-- професия -->
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                                        <div class="form-group">
                                                            <label for="pr_num">Професия - номер</label>
                                                            <input id="pr_num" type="text" v-model="specialty.profession_num">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                                                        <div class="form-group">
                                                            <label for="pr_name">Професия - име</label>
                                                            <input id="pr_name" type="text" v-model="specialty.profession_name">
                                                        </div>
                                                    </div>
                                                    <!-- специалност -->
                                                    <div class="col-lg-4 col-md-4 col-sm-4 col-12">
                                                        <div class="form-group">
                                                            <label for="sp_num">Специалност - номер</label>
                                                            <input id="sp_num" type="text" v-model="specialty.specialty_num">
                                                        </div>
                                                    </div>
                                                    <div class="col-lg-8 col-md-8 col-sm-8 col-12">
                                                        <div class="form-group">
                                                            <label for="sp_name">Специалност - име</label>
                                                            <input id="sp_name" type="text" v-model="specialty.specialty_name">
                                                        </div>
                                                    </div>
                                                    <div class="col-12 mt--20" style="text-align: center;">
                                                        <div class="form-group mb--0">
                                                            <a class="btn-default">Запиши</a>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <!-- Данни за училището край-->

                                            <!-- Специалности -->
                                            <div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
                                                <div class="chat-box-list pt--30">
                                                    <!-- Заглавна част -->
                                                    <div class="chat-box author-speech bg-flashlight" style="padding-bottom: 0px;">
                                                        <div class="inner">
                                                            <div class="chat-section">
                                                                <div class="chat-content">
                                                                    <h6 class="title">Списък на специлностите, изучавани в училището</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- списък на потребителите в тази група(роля) -->
                                                    <div class="chat-box ai-speech bg-flashlight mt--10" style="padding: 10px;">
                                                        <div class="inner top-flashlight leftside light-xl">
                                                            <!-- Заглавна част -->
                                                            <div class="chat-section generate-section">
                                                                <div class="chat-content">
                                                               </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Светла/тъмна тема -->
                        <div class="rbt-static-bar collapse-width">
                            <!-- End Header Top Area  -->
                            <div id="my_switcher" class="my_switcher">
                                <ul>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                            <img src="{% static 'assets/images/light/switch/sun-01.svg' %}" alt="Sun images">
                                            <span title="Light Mode"> Light</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                            <img src="{% static 'assets/images/light/switch/vector.svg' %}" alt="Vector Images">
                                            <span title="Dark Mode"> Dark</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- ------------------ -->
                    </div>
                </div>
            </div>
{% endblock %}

{% block modals %}
{% endblock %}

{% block page_script %}
    <script type="text/javascript">
        window.SPEC = "{{ speciality_id }}";
    </script>
    <script src="{% static 'assets/js/elektra/dzi_edit_spec.js' %}"></script>
{% endblock %}