{% extends 'main/dzi_base.html' %}
{% load static %}

{% block left_panel %}
            <!-- Start Left panel -->
            <div class="rbt-left-panel popup-dashboardleft-section">
                <div class="rbt-default-sidebar">
                    <div class="inner">
                        <div class="content-item-content">
                            <div class="rbt-default-sidebar-wrapper">
                                <nav class="mainmenu-nav">
                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                        <li><a href="dashboard.html"><i class="feather-monitor"></i><span>Welcome</span></a></li>
                                        <li><a href="plans-billing.html"><i class="feather-briefcase"></i><span>Manage
                                        Subsription</span></a></li>
                                    </ul>
                                    <div class="rbt-sm-separator"></div>
                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                        <li><a href="text-generator.html">
                                                <img class="boxed-logo-dark" src="assets/images/generator-icon/text.png" alt="AI Generator">
                                                <img class="boxed-logo-light" src="assets/images/light/generator-icon/text.png" alt="AI Generator">
                                                <span>Text Generator</span></a></li>
                                        <li><a href="image-generator.html"><img class="boxed-logo-dark" src="assets/images/generator-icon/photo.png" alt="AI Generator"><img class="boxed-logo-light" src="assets/images/light/generator-icon/photo.png" alt="AI Generator"><span>Image Generator</span>
                                                <div class="rainbow-badge-card badge-sm ml--10">NEW</div>
                                            </a></li>
                                        <li><a href="code-generator.html">
                                                <img class="boxed-logo-dark" src="assets/images/generator-icon/code-editor.png" alt="AI Generator">
                                                <img class="boxed-logo-light" src="assets/images/light/generator-icon/code-editor.png" alt="AI Generator">
                                                <span>Code Generator</span></a></li>
                                        <li><a href="image-editor.html">
                                                <img class="boxed-logo-dark" src="assets/images/generator-icon/photo-editor.png" alt="AI Generator">
                                                <img class="boxed-logo-light" src="assets/images/light/generator-icon/photo-editor.png" alt="AI Generator">
                                                <span>Image Editor</span></a></li>
                                        <li><a href="vedio-generator.html">
                                                <img class="boxed-logo-dark" src="assets/images/generator-icon/video-camera.png" alt="AI Generator">
                                                <img class="boxed-logo-light" src="assets/images/light/generator-icon/video-camera.png" alt="AI Generator">
                                                <span>Vedio Generator</span></a></li>
                                        <li><a href="email-generator.html">
                                                <img class="boxed-logo-dark" src="assets/images/generator-icon/email.png" alt="AI Generator">
                                                <img class="boxed-logo-light" src="assets/images/light/generator-icon/email.png" alt="AI Generator">
                                                <span>Email Generator</span></a></li>
                                        <li><a tabindex="-1" class="disabled" aria-disabled="true">
                                                <img class="boxed-logo-dark" src="assets/images/generator-icon/website-design.png" alt="AI Generator">
                                                <img class="boxed-logo-light" src="assets/images/light/generator-icon/website-design.png" alt="AI Generator">
                                                <span>Website Generator</span>
                                                <div class="rainbow-badge-card badge-sm ml--10">PRO</div>
                                            </a></li>
                                    </ul>
                                </nav>

                                <div class="rbt-sm-separator"></div>

                                <nav class="mainmenu-nav">
                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                        <li class="has-submenu"><a class="collapse-btn collapsed" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><i
                                        class="feather-plus-circle"></i><span>Setting</span></a>
                                            <div class="collapse" id="collapseExample">
                                                <ul class="submenu rbt-default-sidebar-list">
                                                    <li>
                                                        <a href="profile-details.html">
                                                            <i class="feather-user"></i>
                                                            <span>Profile Details</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="notification.html">
                                                            <i class="feather-shopping-bag"></i>
                                                            <span>Notification</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="chat-export.html">
                                                            <i class="feather-users"></i>
                                                            <span>Chat Export</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="appearance.html">
                                                            <i class="feather-home"></i>
                                                            <span>Apperance</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="plans-billing.html">
                                                            <i class="feather-briefcase"></i>
                                                            <span>Plans and Billing</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="sessions.html">
                                                            <i class="feather-users"></i>
                                                            <span>Sessions</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="application.html">
                                                            <i class="feather-list"></i>
                                                            <span>Application</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li><a href="help.html"><i class="feather-award"></i><span>Help & FAQ</span></a></li>
                                    </ul>
                                    <div class="rbt-sm-separator"></div>
                                    <ul class="dashboard-mainmenu rbt-default-sidebar-list">
                                        <li><a href="release-notes.html"><i class="feather-bell"></i><span>Release notes</span></a>
                                        </li>
                                        <li><a href="terms-policy.html"><i class="feather-briefcase"></i><span>Terms &
                                        Policy</span></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="subscription-box">
                        <div class="inner">
                            <a href="profile-details.html" class="autor-info">
                                <div class="author-img active">
                                    <img class="w-100" src="assets/images/team/team-01.jpg" alt="Author">
                                </div>
                                <div class="author-desc">
                                    <h6>Trent Adam</h6>
                                    <p>trentadam@net</p>
                                </div>
                                <div class="author-badge">Free</div>
                            </a>
                            <div class="btn-part">
                                <a href="pricing.html" class="btn-default btn-border">Upgrade To Pro</a>
                            </div>
                        </div>
                            <div id="my_switcher" class="my_switcher">
                                <ul>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                            <img src="{% static 'assets/images/light/switch/sun-01.svg' %}" alt="Sun images"><span title="Light Mode"> Light</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                            <img src="{% static 'assets/images/light/switch/vector.svg' %}" alt="Vector Images"><span title="Dark Mode">
                                        Dark</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <p class="subscription-copyright copyright-text text-center b4  small-text">© 2024 <a href="https://themeforest.net/user/rainbow-themes/portfolio">Rainbow Themes</a>.</p>
                </div>
            </div>
            <!-- End Left panel -->
{% endblock %}

{% block main_content %}
            <!-- Main content -->
            <div class="rbt-main-content mr--0">
                <div class="rbt-daynamic-page-content">

                    <!-- Dashboard Center Content -->
                    <div class="rbt-dashboard-content">
                        <div class="banner-area">
                            <!-- ChatenAI small Slider -->
                            <div class="rainbow-slider-section slick-grid-15 rainbow-slick-dot sm-slider-carosel-activation">
                                <div class="chatenai-small-slider slide-single-layout">
                                    <div class="inner bg-one">
                                        <div class="content">
                                            <h4 class="title">Frequently Asked Questions</h4>
                                            <p class="desc">Explore our comprehensive repository</p>
                                        </div>
                                        <div class="img-section">
                                            <img src="{% static 'assets/images/slider-bg/slider-sm-01.png' %}" alt="sm slider img">
                                        </div>
                                    </div>
                                </div>
                                <div class="chatenai-small-slider slide-single-layout">
                                    <div class="inner bg-three">
                                        <div class="content">
                                            <h4 class="title">Cognitive Services Hub</h4>
                                            <p class="desc">Immerse yourself in the world of cutting-edge</p>
                                        </div>
                                        <div class="img-section">
                                            <img src="{% static 'assets/images/slider-bg/slider-sm-03.png' %}" alt="sm slider img">
                                        </div>
                                    </div>
                                </div>
                                <div class="chatenai-small-slider slide-single-layout">
                                    <div class="inner bg-four">
                                        <div class="content">
                                            <h4 class="title">Best Quantum AI Services</h4>
                                            <p class="desc">Elevate your ventures with our AI Services</p>
                                        </div>
                                        <div class="img-section">
                                            <img src="{% static 'assets/images/slider-bg/slider-sm-02.png' %}" alt="sm slider img">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="content-page">
                            <div class="chat-box-list">

                                <div class="welcome-wrapper">
                                    <div class="content-section">
                                        <h4 class="title">👋 Welcome, Adam</h4>
                                    </div>
                                    <div class="btn-section">
                                        <a class="btn-default bg-solid-primary" data-bs-toggle="modal" data-bs-target="#newchatModal">
                                            <span class="icon"><i class="feather-plus-circle"></i></span>
                                            <span>New Chat</span>
                                        </a>
                                    </div>
                                </div>

                                <!-- ChatenAI Generator -->
                                <div class="rainbow-generartor-section rainbow-section-gap">
                                    <div class="section-title text-center sal-animate" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                                        <h4 class="subtitle "><span class="theme-gradient">ChaetenAI</span></h4>
                                        <h2 class="title w-600 mb--20">Unleashing the Power of ChatAI</h2>
                                        <p class="description b1">We provide Mastering the Art of ChatAI generate your
                                            text <br>Pioneering Conversations with AI.</p>
                                    </div>
                                    <div class="genarator-section">
                                        <ul class="genarator-card-group">
                                            <li>
                                                <a href="text-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/text.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Text Generator</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="image-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/photo.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Image Generator</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="image-editor.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/photo-editor.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Photo Editor</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="code-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/code-editor.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Code Generator</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="text-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/text-voice.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Text to speech</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="text-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/voice.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Speech to text</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="vedio-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/video-camera.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Vedio Generator</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="genarator-card disabled" tabindex="-1">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/website-design.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Website Generator</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <span class="rainbow-badge-card">Coming</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="code-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/code-editor.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">HTML Generator</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="text-generator.html" class="genarator-card disabled" tabindex="-1">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/document.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Chat with Documents</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <span class="rainbow-badge-card">Coming</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="email-generator.html" class="genarator-card">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/email.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Email Writer</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <div class="icon-bar"><i data-feather="arrow-right"></i>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="genarator-card disabled" tabindex="-1">
                                                    <div class="inner">
                                                        <div class="left-align">
                                                            <div class="img-bar">
                                                                <img src="{% static 'assets/images/generator-icon/lyrics.png' %}" alt="AI Generator">
                                                            </div>
                                                            <h5 class="title">Lyrics Generator</h5>
                                                        </div>
                                                        <div class="right-align">
                                                            <span class="rainbow-badge-card">Coming</span>
                                                        </div>
                                                    </div>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="rbt-static-bar collapse-width">
                            <!-- End Header Top Area  -->
                            <ul class="staticbar-btn-grp d-md-flex">
                                <li>
                                    <button class="btn-default btn-small btn-border"><span>Ask Tough Question</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn-default btn-small btn-border"><span>Create Image Artwork</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn-default btn-small btn-border"><span>Image Editor Options</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn-default btn-small btn-border"><span>Give Voice command</span>
                                    </button>
                                </li>
                            </ul>
                            <div id="my_switcher" class="my_switcher">
                                <ul>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                            <img src="{% static 'assets/images/light/switch/sun-01.svg' %}" alt="Sun images"><span title="Light Mode"> Light</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                            <img src="{% static 'assets/images/light/switch/vector.svg' %}" alt="Vector Images"><span title="Dark Mode">
                                        Dark</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block modals %}
        <!--New Chat Section Modal HTML -->
        <div id="newchatModal" class="modal rbt-modal-box copy-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight light-xl">
                    <div class="section-title text-center mb--30 sal-animate" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
                        <h3 class="title mb--0 w-600">Unlock the power of AI</h3>
                    </div>
                    <div class="genarator-section">
                        <ul class="genarator-card-group">
                            <li>
                                <a href="text-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/text.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Text Generator</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="image-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/photo.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Image Generator</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="image-editor.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/photo-editor.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Photo Editor</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="code-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/code-editor.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Code Generator</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="text-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/text-voice.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Text to speech</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="text-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/voice.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Speech to text</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="vedio-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/video-camera.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Vedio Generator</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="genarator-card disabled" tabindex="-1">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/website-design.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Website Generator</h5>
                                        </div>
                                        <div class="right-align">
                                            <span class="rainbow-badge-card">Coming</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="code-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/code-editor.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">HTML Generator</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="text-generator.html" class="genarator-card disabled" tabindex="-1">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/document.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Chat with Documents</h5>
                                        </div>
                                        <div class="right-align">
                                            <span class="rainbow-badge-card">Coming</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="email-generator.html" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/email.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Email Writer</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="genarator-card disabled" tabindex="-1">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img src="assets/images/generator-icon/lyrics.png" alt="AI Generator">
                                            </div>
                                            <h5 class="title">Lyrics Generator</h5>
                                        </div>
                                        <div class="right-align">
                                            <span class="rainbow-badge-card">Coming</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--Like Section Modal HTML -->
        <div id="likeModal" class="modal rbt-modal-box like-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight leftside light-xl">
                    <h5 class="title">Provide additional feedback</h5>
                    <div class="chat-form">
                        <div class="border-gradient text-form">
                            <textarea rows="6" placeholder="Send a message..."></textarea>
                        </div>
                    </div>
                    <div class="bottom-btn mt--20">
                        <a class="btn-default btn-small round" href="#">Send Feedback</a>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--DisLike Section Modal HTML -->
        <div id="dislikeModal" class="modal rbt-modal-box dislike-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight leftside light-xl">
                    <h5 class="title">Why do you like this response?</h5>
                    <select class="form-select" multiple aria-label="multiple select example">
                        <option selected>Irrelevant</option>
                        <option value="2">Offensive</option>
                        <option value="3">Not Correct</option>
                    </select>
                    <div class="chat-form">
                        <h6 class="title">Provide your feedback</h6>
                        <div class="border-gradient text-form">
                            <textarea rows="6" placeholder="Send a message..."></textarea>
                        </div>
                    </div>
                    <div class="bottom-btn mt--20">
                        <a class="btn-default btn-small round" href="#">Send Feedback</a>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--Share Section Modal HTML -->
        <div id="shareModal" class="modal rbt-modal-box share-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper modal-small top-flashlight leftside light-xl">
                    <h5 class="title">Share</h5>
                    <ul class="social-icon social-default transparent-with-border mb--20">
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="200"><a href="https://www.facebook.com/">
                                <i class="feather-facebook"></i>
                            </a>
                        </li>
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="300"><a href="https://www.twitter.com">
                                <i class="feather-twitter"></i>
                            </a>
                        </li>
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="400"><a href="https://www.instagram.com/">
                                <i class="feather-instagram"></i>
                            </a>
                        </li>
                        <li data-sal="slide-up" data-sal-duration="400" data-sal-delay="500"><a href="https://www.linkdin.com/">
                                <i class="feather-linkedin"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="chat-form">
                        <div class="border-gradient text-form d-flex align-items-center">
                            <input type="text" class="copy-link-input" value="https://www.youtube.com/" readonly>
                            <button class="btn-default bg-solid-primary" type="submit">Copy</button>
                        </div>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
        </div>
{% endblock %}

{% block page_script %}
    <script src="{% static 'assets/js/elektra/dzi_dashboard.js' %}"></script>
{% endblock %}