{% extends 'main/dzi_base.html' %}
{% load static %}

{% block left_panel %}
{% include 'main/dzi_left_panel_profile.html' %}
{% endblock %}

{% block main_content %}
            <!-- Main content -->
            <div class="rbt-main-content mr--0">
                <div class="rbt-daynamic-page-content">

                    <!-- Dashboard Center Content -->
                    <div class="rbt-dashboard-content">
                        <div class="banner-area">
                            <!-- ChatenAI small Slider -->
                            <div class="rainbow-slider-section slick-grid-15 rainbow-slick-dot sm-slider-carosel-activation">
                                <div class="chatenai-small-slider slide-single-layout">
                                    <div class="inner bg-one">
                                        <div class="content">
                                            <h4 class="title">
                                                {{ user_profile.school.full_name}}
                                            </h4>
                                            <p class="desc">{{ user_profile.school.city}}</p>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <div class="content-page">
                            <div class="chat-box-list">

                                <div class="welcome-wrapper">
                                    <div class="content-section">
                                        {% if user_profile.gender %}
                                        <h4 class="title">👋 Добре дошъл, {{ user_first_name }}</h4>
                                        {% else %}
                                        <h4 class="title">👋 Добре дошлa, {{ user_first_name }}</h4>
                                        {% endif %}
                                    </div>
                                </div>

                                <!-- ChatenAI Generator -->
                                <div class="rainbow-generartor-section rainbow-section-gap">
                                    <div class="section-title text-center sal-animate" data-sal="slide-up" data-sal-duration="700" data-sal-delay="100">
                                        {% verbatim %}
                                        <h4 class="subtitle "><span class="theme-gradient">Електра</span></h4>
                                        {% endverbatim %}
                                        <p class="description b1">ще Ви помогне при подготовка за провеждане
                                            на държавния изпит за придобиване на трета степен на професионална квалификация
                                            (част по теория на специалността, форма - писмен тест) по специалност код
                                            5230501 „Компютърна техника и технологии“, професия код 523050 „Техник на
                                            компютърни системи“ от Списъка на професиите за професионално образование и
                                            обучение по чл. 6 от Закона за професионалното образование и обучение (ЗПОО).</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="rbt-static-bar collapse-width">
                            <!-- End Header Top Area  -->
                            <ul class="staticbar-btn-grp d-md-flex">
                                <li>
                                    <button class="btn-default btn-small btn-border"
                                            data-bs-toggle="modal" data-bs-target="#selectSchool" v-if="user.user_level_num<3">
                                        <span>Изберете друго училище</span>
                                    </button>
                                </li>
                                <li>
                                    <button class="btn-default btn-small btn-border"
                                            data-bs-toggle="modal" data-bs-target="#selectSpeciality"  v-if="user.user_level_num<5">
                                        <span>Изберете друга специалност</span>
                                    </button>
                                </li>
                            </ul>
                            <div id="my_switcher" class="my_switcher">
                                <ul>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="light" class="setColor light">
                                            <img src="{% static 'assets/images/light/switch/sun-01.svg' %}" alt="Sun images"><span title="Light Mode"> Light</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript: void(0);" data-theme="dark" class="setColor dark">
                                            <img src="{% static 'assets/images/light/switch/vector.svg' %}" alt="Vector Images"><span title="Dark Mode">
                                        Dark</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endblock %}

{% block modals %}
        <!--Избор на училище Modal HTML -->
        <div id="selectSchool" class="modal rbt-modal-box copy-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight light-xl">
                    <div class="section-title text-center mb--30 sal-animate" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
                        <h4 class="title mb--0 w-600">Избор на училище</h4>
                    </div>
                    <div class="genarator-section">
                        <ul class="genarator-card-group">
                            {% for school in schools %}
                            <li>
                                <a href="{% url 'set_school' school.id %}" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <div class="img-bar">
                                                <img style="width: 35px; height: auto;" src="{{ school.logo.url }}" alt="AI Generator">
                                            </div>
                                            <h5 class="title">{{ school.short_name }} - {{ school.city }}</h5>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
        </div>

        <!--Избор на специалност Modal HTML -->
        <div id="selectSpeciality" class="modal rbt-modal-box copy-modal fade" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content wrapper top-flashlight light-xl">
                    <div class="section-title text-center mb--30 sal-animate" data-sal="slide-up" data-sal-duration="400" data-sal-delay="150">
                        <h4 class="title mb--0 w-600">Избор на специалност</h4>
                    </div>
                    <div class="genarator-section">
                        <ul class="genarator-card-group">
                            {% for sp in specialities %}
                            <li>
                                <a href="{% url 'set_speciality' sp.id %}" class="genarator-card">
                                    <div class="inner">
                                        <div class="left-align">
                                            <p style="font-size: 12px;" class="title">{{ sp.specialty_num }} - {{ sp.specialty_name }}</p>
                                        </div>
                                        <div class="right-align">
                                            <div class="icon-bar"><i data-feather="arrow-right"></i></div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <button class="close-button" data-bs-dismiss="modal">
                        <i class="feather-x"></i>
                    </button>
                </div>
            </div>
        </div>
{% endblock %}

{% block page_script %}
    <script src="{% static 'assets/js/elektra/dzi_dashboard.js' %}"></script>
{% endblock %}