{% extends 'main/base.html' %}

{% block title %}
ПГЕЕ - начало
{% endblock %}

{% block content %}
{% load static %}
	<!-- Slider Area -->
		<section class="home-slider">
			<div class="slider-active">
				<!-- Single Slider -->
				<div class="single-slider overlay">
					<!-- <div class="slider-image" style="background-image:url('images/slider/slider-bg1.jpg')"></div> -->
					<div class="slider-image" style="background-image:url('{% static 'images/brand/bg_darkblue.jpg' %}')"></div>
					<div class="container">
						<div class="row">
							<div class="col-lg-10 col-md-10 col-12">
								<!-- Slider Content -->
								<div class="slider-content">
									<h1 class="slider-title"><span>Успехът е умна игра!</span>
										ПРОФЕСИОНАЛНА ГИМНАЗИЯ<br>
										ПО ЕЛЕКТРОНИКА И ЕНЕРГЕТИКА<br>
										<b>гр. Банско</b>
									</h1>
									<!-- Button -->
									<p><br></p>
									<div class="button">
										{% if campaign %}
										<a href="{% url 'campaign' %}" class="btn white primary">ПРИЕМ 2024/2025</a>
										{% endif %}
										<a href="{% url 'professions' %}" class="btn white primary">СПЕЦИАЛНОСТИ</a>
									</div>
									<!--/ End Button -->
								</div>
								<!--/ End Slider Content -->
							</div>
						</div>
					</div>
				</div>
				<!--/ End Single Slider -->
			</div>
		</section>
		<!--/ End Slider Area -->
		<!-- Events -->
		<section id="articles" class="events section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="section-title bg">
							<h2><span>Последни </span>Публикации</h2>
							<div class="icon"><i class="fa fa-paper-plane"></i></div>
							<a href="{% url 'publications' %}" class="btn white">Вижте всички публикации ...</a>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-12">
						<div class="event-img">
							<img src="{% static 'images/event-left.png' %}" alt="#">
						</div>
					</div>
					<div class="col-lg-7 col-12">
						<div class="coming-event">
						{% for article in articles %}
						<!-- Single Event -->
						<div class="single-event">
							<div class="event-image">
								<img src="{{ article.picture.url }}" alt="#">
								<div class="event-date">
									<p>{{ article.event_date.day }}/{{ article.event_date.month }}<span>{{ article.event_date.year }}</span></p>
								</div>
							</div>
							<div class="event-content">
								<h3 class="event-title"><a href="article/{{ article.id }}">{{ article.title }}</a></h3>
								<p>{{ article.annotation}}</p>
								<span class="entry-date-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {{ article.publish_date}}</span>
							</div>
						</div>
						{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Events -->

		<!-- Features -->
		<div class="features overlay section" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature1.jpg' %}" alt="#">
								<i class="fa fa-clone"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">Специалности</h4>
								<p>Нашите специалности са внимателно подбрани според актуалните тенденции на пазара на труда.
									Те са изцяло обезпечени с необходимата материална база и квалифицирани преподаватели.
								</p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature1.jpg' %}" alt="#">
								<i class="fa fa-institution"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">Училище</h4>
								<p>Обновена сграда. Модерна техника. Физкултурен салон.</p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature3.jpg' %}" alt="#">
								<i class="fa fa-users"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">Учители</h4>
								<p>Нашите учители са квалифицирани преподаватели с богат професионален опит в своята област.</p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
					<div class="col-lg-3 col-md-6 col-12">
						<!-- Single Feature -->
						<div class="single-feature">
							<div class="icon-img">
								<img src="{% static 'images/feature2.jpg' %}" alt="#">
								<i class="fa fa-book"></i>
							</div>
							<div class="feature-content">
								<h4 class="f-title">е-Библиотека</h4>
								<p>Виртуалната ни библиотека е достъпна за всички наши учители и ученици. Тя съдържа богат набор от електронни
									учебни материали - учебници, презентации, учебни клипове, други помощни ресурси. </p>
							</div>
						</div>
						<!--/ End Single Feature -->
					</div>
				</div>
			</div>
		</div>
		<!--/ End Features -->

		<!-- Класове -->
		<section id="classes" class="courses section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="section-title bg">
							<h2><span>Нашите</span>  класове</h2>
							<p>През учебната 2022/2023 г. в училището се обучават 210 ученици в 11 паралелки</p>
							<div class="icon"><i class="fa fa-clone"></i></div>
						</div>
					</div>
				</div>
				<div class="row">
					{% for klas in classes %}
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Single Course -->
						<div class="single-course">
							<!-- Course Head -->
							<div class="course-head overlay">
								<img src="{{ klas.picture.url }}" alt="#">
								<a href="class/{{ klas.id }}" class="btn white primary">Вижте повече...</a>
							</div>
							<!-- Course Body -->
							<div class="course-body">
								<div class="name-price">
									<div class="teacher-info">
										<img src="{{ klas.class_teacher.picture.url }}" alt="#">
										<h4 class="title">Класен ръководител: {{ klas.class_teacher.name }}</h4>
										</div>
									<span class="price">{{klas.class_num}}  <sup>{{klas.class_char}}</sup> клас</span>
								</div>
								<h4 class="c-title">
									{% for s in klas.specialities.all %}
									<a href="speciality/{{ s.id }}">{{ s.name }}</a><br>
									{% endfor %}
								</h4>
							</div>
							<!-- Course Meta -->
							<div class="course-meta">
								<!-- Rattings -->
								Среден успех за класа:&nbsp;
								<ul class="rattings">
									<li class="point"><span>{{ klas.rate }}</span></li>
								</ul>
							</div>
							<!--/ End Course Meta -->
						</div>
						<!--/ End Single Course -->
					</div>
					{% endfor %}
				</div>
			</div>
		</section>
		<!--/ End Courses -->

		<!-- Call To Action -->
		<section id="priem" class="cta">
			<div class="cta-inner overlay section" style="background-image:url('{% static 'images/brand/bg_1_2.png'%}')" data-stellar-background-ratio="0.5">
				<div class="container">
					<div class="row">
						<div class="col-lg-8 col-md-8 col-12">
							<div class="text-content">
								<h2>Прием <span> 2024/2025 г.</span></h2>
								{% if campaign %}
								<p>ПГЕЕ гр. Банско обявява прием на ученици за учебната 2024/2025 г. Предлагаме интересни и търсени специланости,
									обезпечни с добра материална база и квалифицирани преподаватели.</p>
								<!-- CTA Button -->
								<div class="button">
									<a class="btn white primary" href="{% url 'campaign' %}">Вижте повече ...</a>
								</div>
								<!--/ End CTA Button -->
								{% endif %}
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-12">
							<!-- Cta Image -->
							<div class="cta-image">
								<img src="{% static 'images/girl-1.png' %}" alt="#">
							</div>
							<!--/ End Cta Image -->
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call To Action -->
	<!-- Специалности -->
		<section id="professions"  class="courses section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<div class="section-title bg">
							<h2><span>Нашите </span>Специалности</h2>
							<div class="icon"><i class="fa fa-bandcamp"></i></div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-5 col-12">
						<div class="faq-image">
							<img src="{% static 'images/faq.png' %}" alt="#">
						</div>
					</div>
					<div class="col-lg-7 col-12">
						<!-- Специалност -->
						{% for speciality in specialities %}
						<div class="single-course">
							<!-- Картинка и бутон -->
							<div class="course-head overlay">
								<img src="{{ speciality.picture.url }}" alt="#">
								<a href="speciality/{{ speciality.id }}" class="btn white primary">Вижте повече...</a>
							</div>
							<!-- Текст под картинката -->
							<div class="course-body">
								<h4 class="c-title">
									Специалност:&nbsp;{{ speciality.name }}<br>
								</h4>
								<p>Професия: {{ speciality.profession}}</p>
							</div>
						</div>
						{% endfor %}
						<!--/ край на специалност -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Специалности -->

		<!-- Партньори -->
		<div  id="partners" class="clients">
			<div class="container">
				<div class="row">
					<div class="col-lg-2 col-md-2 col-12">
						<div class="text-content">
							<h4>Партньори</h4>
							<p></p>
						</div>
					</div>
					<div class="col-lg-10 col-md-10 col-12">
						<div class="client-slider">
							{% for partner in partners %}
							<div class="single-slider">
								<a href="{{ partner.url.url }}"><img src="{{ partner.logo.url }}" alt="{{partner.title}}"></a>
								<p style="color: #f8f8f8">{{partner.title}}</p>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>

		<!--/ End Партньори -->
	<!-- Важно -->
	<section id="notes" class="faqs section">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 offset-lg-3 col-12">
					<div class="section-title bg">
						<h2>Важно</h2>
						<p>Съобщения, обяви, актуални документи.</p>
						<div class="icon"><i class="fa fa-exclamation-triangle"></i></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="faq-main">
						<div class="faq-content">
							<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
								{% for important_note in important_notes %}
								<!-- Single Faq -->
								<div class="panel panel-default">
									<div class="faq-heading"  id="FaqTitle1">
										<h4 class="faq-title">
											<a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#faq{{important_note.id}}">
												<i class="fa fa-bell-o"></i>{{important_note.title}}</a>
										</h4>
									</div>
									<div id="faq{{important_note.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="FaqTitle1">
										<div class="faq-body">
											<p><a href="{{ important_note.attachment.url }}" target="blank"><i class="fa fa-download"></i> {{important_note.annotation}}</a></p>
										</div>
									</div>
								</div>
								<!--/ End Single Faq -->
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--/ End Важно -->
{% endblock %}
